<!DOCTYPE html>
<head>
	<title>New User</title>
</head>
<body>
	<H1>Meta-blog New User</H1>
	<form name="newUserform" action="" >
		First Name <input type="text" name="fName" placeholder="John"><br/>
		Last Name <input type="text" name="lName" placeholder="Smith"><br/>
		Email <input type="text" name="email" placeholder="example@example.com"><br/>
		GitHub <input type="text" name="githubId" placeholder="example"><br/>
		Password <input type="password" name="password"><br/>
		Re-Enter Password <input type="password" name="re-password"><br/>
		<form action="" enctype="multipart/form-data" method="get">
			Profile Image <input type="file" name="proPic" accept="image/*"><br/>
		</form>
	<input type="submit"/>
	</form>
</body>
